.logo{
    display: flex;
    background-color: #400101;
    flex-direction: row;
    align-items: center;
  
}
.logo p{
    font-family: 'Libre Baskerville', serif;
    color: white; 
    font-size: 1.3vw;
    height: 15%;
}

.logo img{
    width: 4.5%;
}
